Repository bolg-developers/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bolg-developers/bolgman, @bolg-developers/server, @bolg-developers/android, @bolg-developers/micon

.github/CODEOWNERS:

# bolg
/projects/bolg/ @bolg-developers/bolgman
/projects/bolg/server/ @bolg-developers/server
/projects/bolg/android/ @bolg-developers/android
/projects/bolg/micon/ @bolg-developers/micon
/projects/bolg/hack/ @bolg-developers/server

Update CreateJoinViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModel.kt
Owners: @bolg-developers/android

Create CircuitDiagram.md
  projects/bolg/docs/micon/CircuitDiagram.md
Owners: @bolg-developers/bolgman

micon-code-uoload
  projects/bolg/micon/.gitignore
  projects/bolg/micon/.travis.yml
  projects/bolg/micon/.vscode/extensions.json
  projects/bolg/micon/.vscode/settings.json
  projects/bolg/micon/include/BolgConfig.h
  projects/bolg/micon/include/IAttacker.h
  projects/bolg/micon/include/ICommandReceiver.h
  projects/bolg/micon/include/ICommandSender.h
  projects/bolg/micon/include/IDefenser.h
  projects/bolg/micon/include/IGun.h
  projects/bolg/micon/include/IPlayer.h
  projects/bolg/micon/include/IShotManager.h
  projects/bolg/micon/include/README
  projects/bolg/micon/include/TaskBase.h
  projects/bolg/micon/lib/README
  projects/bolg/micon/platformio.ini
  projects/bolg/micon/src/Damage.h
  projects/bolg/micon/src/GameManager.h
  projects/bolg/micon/src/Gun.h
  projects/bolg/micon/src/Player.h
  projects/bolg/micon/src/ShotManager.h
  projects/bolg/micon/src/TaskBase.cpp
  projects/bolg/micon/src/Tasks/CommandReceiveTask.h
  projects/bolg/micon/src/Tasks/CommandSendTask.h
  projects/bolg/micon/src/Tasks/IRreceiveTask.h
  projects/bolg/micon/src/Tasks/IRsendTask.h
  projects/bolg/micon/src/Tasks/TriggerTask.h
  projects/bolg/micon/src/main.cpp
  projects/bolg/micon/test/README
Owners: @bolg-developers/micon

Delete CircuitDiagram.md
  projects/bolg/micon/CircuitDiagram.md
Owners: @bolg-developers/micon

delete travis
  projects/bolg/micon/.travis.yml
Owners: @bolg-developers/micon

Delete micon-design-doc.md
  projects/bolg/docs/micon/micon-design-doc.md
Owners: @bolg-developers/bolgman

Delete BarrelTest.md
  projects/bolg/docs/micon/BarrelTest.md
Owners: @bolg-developers/bolgman

Delete CircuitDiagram.md
  projects/bolg/docs/micon/CircuitDiagram.md
Owners: @bolg-developers/bolgman

Delete bolg_Release-v1.png
  projects/bolg/docs/micon/img/bolg_Release-v1.png
Owners: @bolg-developers/bolgman

Delete .gitkeep
  projects/bolg/docs/micon/.gitkeep
Owners: @bolg-developers/bolgman

refactor database and add test
  projects/bolg/server/go.sum
  projects/bolg/server/pkg/database/memory/.gitkeep
  projects/bolg/server/pkg/database/room.go
  projects/bolg/server/pkg/game/game.go
  projects/bolg/server/pkg/game/survival/.gitkeep
  projects/bolg/server/pkg/room/database/database.go
  projects/bolg/server/pkg/room/database/memory/player.go
  projects/bolg/server/pkg/room/database/memory/player_test.go
  projects/bolg/server/pkg/room/database/memory/room.go
  projects/bolg/server/pkg/room/database/memory/room_test.go
  projects/bolg/server/pkg/room/types.go
Owners: @bolg-developers/server

message類の取得成功
  projects/bolg/android/Bolg/app/src/main/AndroidManifest.xml
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/MyApplication.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/bluetooth/BluetoothFunction.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinFragment.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_host_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_player_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/values/strings.xml
Owners: @bolg-developers/android

add-gamePlayStart
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyViewModel.kt
Owners: @bolg-developers/android

全体のコメント修正
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/adapter/StandbyRecyclerAdapter.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/adapter/holder/StandbyRecyclerViewHolder.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/data/ListData.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayViewModelFactory.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainViewModelFactory.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinFragment.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModelFactory.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyViewModel.kt
Owners: @bolg-developers/android

被弾通知受信処理
  projects/bolg/android/Bolg/.idea/codeStyles/Project.xml
  projects/bolg/android/Bolg/.idea/misc.xml
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/bluetooth/BluetoothFunction.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_game_play.xml
Owners: @bolg-developers/android

fix-onepath
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayViewModel.kt
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_game_play.xml
  projects/bolg/android/Bolg/app/src/main/res/values/colors.xml
Owners: @bolg-developers/android

HP表示の追加
  projects/bolg/android/Bolg/app/src/androidTest/java/com/example/bolg/ExampleInstrumentedTest.kt
  projects/bolg/android/Bolg/app/src/main/AndroidManifest.xml
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/MyApplication.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/res/layout/fragment_main.xml
  projects/bolg/android/Bolg/app/src/main/res/values/styles.xml
Owners: @bolg-developers/android

入室状況の表示
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/FireMissilesDialogFragment.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinFragment.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/res/drawable-v24/logo.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_bullet_nomal.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_change_ammunition.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_hit_point.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_hit_point__oregne.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_hit_point__red.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_hit_point_gray.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_hitpoint_blue.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_log.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_pairing.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_timer.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bplg_item.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/frame_black.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/header.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/join_fream.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/logo.png
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_game_play.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_host_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_main.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_player_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/fragment_main.xml
  projects/bolg/android/Bolg/app/src/main/res/values/strings.xml
Owners: @bolg-developers/android

joinに関する表示追加
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_player_standby.xml
Owners: @bolg-developers/android

背景・参加/生成画像追加
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinFragment.kt
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_background_img.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_create_room.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_create_room_dark.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_join_room.png
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_game_play.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_host_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_main.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_player_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/fragment_main.xml
Owners: @bolg-developers/android

update-join-room-view
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/res/drawable/logo_mini.png
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_host_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_player_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/list_item.xml
Owners: @bolg-developers/android

add stamina proto
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/BolgProto.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/BolgServiceGrpc.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/GetStaminaRequest.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/GetStaminaRequestOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RecoverStaminaRequest.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RecoverStaminaRequestOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RecoverStaminaResponse.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RecoverStaminaResponseOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/Stamina.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/StaminaOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/UseStaminaRequest.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/UseStaminaRequestOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/UseStaminaResponse.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/UseStaminaResponseOrBuilder.java
  projects/bolg/server/drawios/design.drawio
  projects/bolg/server/pb/bolg.pb.go
  projects/bolg/server/pb/bolg.proto
Owners: @bolg-developers/android, @bolg-developers/server

match service interface
  projects/bolg/server/pkg/bolg/service.go
Owners: @bolg-developers/server

自爆なしコード(自分自身にヒット通知が来てる)
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/bluetooth/BluetoothFunction.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayViewModel.kt
Owners: @bolg-developers/android

join-list-update
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/MyApplication.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/bluetooth/BluetoothFunction.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinFragment.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_bluetooth.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_bluetooth_dark.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/frame_black.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/action_bar.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_game_play.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_host_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_join.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_player_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/custom_spinner.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/custom_spinner_dropdown.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/fragment_title.xml
  projects/bolg/android/Bolg/app/src/main/res/menu/sutamina_menu.xml
  projects/bolg/android/Bolg/app/src/main/res/values/strings.xml
Owners: @bolg-developers/android

Listの重複を修正
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/adapter/StandbyRecyclerAdapter.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModel.kt
Owners: @bolg-developers/android

ボタンの押した感追加
  projects/bolg/android/Bolg/.idea/codeStyles/Project.xml
  projects/bolg/android/Bolg/.idea/misc.xml
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_bluetooth_state.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_button_off_state.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_button_on_state.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_create_room_dark.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_create_room_state.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_inventory_off_state.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_inventory_on_state.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_join_off_state.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_join_on_state.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_join_room_dark.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_join_room_state.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_ready_off_state.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_ready_on_state.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_start_off_state.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_start_on_state.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_host_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_player_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/fragment_main.xml
Owners: @bolg-developers/android

ボタン押下アクション追加
  projects/bolg/android/Bolg/.idea/codeStyles/Project.xml
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_host_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_player_standby.xml
Owners: @bolg-developers/android

micon code-update
  projects/bolg/micon/include/BolgConfig.h
  projects/bolg/micon/include/BolgLogger.h
  projects/bolg/micon/include/IAttacker.h
  projects/bolg/micon/include/ICommandReceiver.h
  projects/bolg/micon/include/ICommandSender.h
  projects/bolg/micon/include/IDefenser.h
  projects/bolg/micon/include/IGun.h
  projects/bolg/micon/include/IPlayer.h
  projects/bolg/micon/include/IShotManager.h
  projects/bolg/micon/include/IVibrator.h
  projects/bolg/micon/include/README
  projects/bolg/micon/include/TaskBase.h
  projects/bolg/micon/src/Damage.h
  projects/bolg/micon/src/GameManager.h
  projects/bolg/micon/src/Gun.h
  projects/bolg/micon/src/Player.h
  projects/bolg/micon/src/ShotManager.h
  projects/bolg/micon/src/TaskBase.cpp
  projects/bolg/micon/src/Tasks/CommandReceiveTask.h
  projects/bolg/micon/src/Tasks/CommandSendTask.h
  projects/bolg/micon/src/Tasks/IRreceiveTask.h
  projects/bolg/micon/src/Tasks/IRsendTask.h
  projects/bolg/micon/src/Tasks/TriggerTask.h
  projects/bolg/micon/src/Tasks/VibratorTask.h
  projects/bolg/micon/src/Vibrator.cpp
Owners: @bolg-developers/micon

待機画面から再入室時のListの重複改良
  projects/bolg/android/Bolg/.idea/misc.xml
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/bluetooth/BluetoothFunction.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/data/ListData.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_bullet_nomal.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_change_ammunition.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_hit_point.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_item.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_log.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_stamina_off.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_stamina_on.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_timer.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bplg_item.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/logo.jpg
  projects/bolg/android/Bolg/app/src/main/res/drawable/logo.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/logo_mini.png
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_game_play.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_host_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/menu/sutamina_menu.xml
  projects/bolg/android/Bolg/app/src/main/res/values/strings.xml
Owners: @bolg-developers/android

MainFragmentからの連続ゲーム実装
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinFragment.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_log.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/logo.jpg
  projects/bolg/android/Bolg/app/src/main/res/drawable/logo.png
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_game_play.xml
Owners: @bolg-developers/android

updateEditNumber
  projects/bolg/android/Bolg/app/build.gradle
  projects/bolg/android/Bolg/app/src/main/AndroidManifest.xml
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/res/drawable/circular_progress.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/ic_thumb_down_black_24dp.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/ic_thumb_up_black_24dp.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/ic_vpn_key_black_24dp.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_game_play.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_player_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/values/strings.xml
  projects/bolg/android/Bolg/build.gradle
Owners: @bolg-developers/android

BluetoothのAddress選択を実装
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/bluetooth/BluetoothFunction.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinFragment.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyViewModel.kt
Owners: @bolg-developers/android

test
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinFragment.kt
Owners: @bolg-developers/android

RoomCreate
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
Owners: @bolg-developers/android

複数人ゲームできるように改良
  projects/bolg/android/.idea/.gitignore
  projects/bolg/android/.idea/android.iml
  projects/bolg/android/.idea/misc.xml
  projects/bolg/android/.idea/modules.xml
  projects/bolg/android/.idea/vcs.xml
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinFragment.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/title/TitleFragment.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_ready_state.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_player_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/values/strings.xml
Owners: @bolg-developers/android

update-roomid-view
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/res/drawable/ic_apps_black_24dp.xml
  projects/bolg/android/Bolg/app/src/main/res/menu/sutamina_menu.xml
Owners: @bolg-developers/android

change-playerName
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
Owners: @bolg-developers/android

indent-refactor
  projects/bolg/android/.idea/codeStyles/Project.xml
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/adapter/StandbyRecyclerAdapter.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/adapter/holder/StandbyRecyclerViewHolder.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/bluetooth/BluetoothFunction.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayViewModelFactory.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainViewModelFactory.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinFragment.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModelFactory.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModelFactory.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyViewModelFactory.kt
Owners: @bolg-developers/android

server refactoring
  projects/bolg/server/go.mod
  projects/bolg/server/go.sum
  projects/bolg/server/pkg/game/db.go
  projects/bolg/server/pkg/game/db_memory.go
  projects/bolg/server/pkg/game/db_test.go
  projects/bolg/server/pkg/game/game.go
  projects/bolg/server/pkg/game/room.go
  projects/bolg/server/pkg/game/service.go
  projects/bolg/server/pkg/game/survival/.gitkeep
  projects/bolg/server/pkg/game/token.go
Owners: @bolg-developers/server
