Repository bolg-developers/x, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bolg-developers/bolgman, @bolg-developers/server, @bolg-developers/android, @bolg-developers/micon

delete old codes
  projects/bolg/server/cmd/apiserver/apiserver.go
  projects/bolg/server/go.sum
  projects/bolg/server/pkg/bolg/database.go
  projects/bolg/server/pkg/bolg/database_memory.go
  projects/bolg/server/pkg/bolg/game.go
  projects/bolg/server/pkg/bolg/game_survival.go
  projects/bolg/server/pkg/bolg/id_pool_manager.go
  projects/bolg/server/pkg/bolg/number_manager.go
  projects/bolg/server/pkg/bolg/service.go
  projects/bolg/server/pkg/bolg/streams_manager.go
  projects/bolg/server/pkg/bolg/token.go
  projects/bolg/server/pkg/bolg/types.go
  projects/bolg/server/pkg/room/database/database.go
  projects/bolg/server/pkg/room/database/memory/player.go
  projects/bolg/server/pkg/room/database/memory/player_test.go
  projects/bolg/server/pkg/room/database/memory/room.go
  projects/bolg/server/pkg/room/database/memory/room_test.go
  projects/bolg/server/pkg/room/id_manager.go
  projects/bolg/server/pkg/room/id_manager_test.go
  projects/bolg/server/pkg/room/player_id_manager.go
  projects/bolg/server/pkg/room/player_id_manager_test.go
  projects/bolg/server/pkg/room/stream_manager.go
  projects/bolg/server/pkg/room/types.go
Owners: @bolg-developers/server

一旦create ng外す
  projects/bolg/server/pkg/game/db_test.go
Owners: @bolg-developers/server

一旦コミット
  projects/bolg/server/cmd/og3/main.go
  projects/bolg/server/pkg/account/auth.go
  projects/bolg/server/pkg/account/db.go
  projects/bolg/server/pkg/account/db_memory.go
  projects/bolg/server/pkg/account/types.go
  projects/bolg/server/pkg/game/game.go
  projects/bolg/server/pkg/game/room.go
  projects/bolg/server/pkg/game/service.go
  projects/bolg/server/pkg/game/token.go
  projects/bolg/server/pkg/kakin/db.go
  projects/bolg/server/pkg/kakin/db_memory.go
  projects/bolg/server/pkg/kakin/stamina.go
  projects/bolg/server/pkg/kakin/types.go
Owners: @bolg-developers/server

add stamina test
  projects/bolg/server/pkg/kakin/stamina.go
  projects/bolg/server/pkg/kakin/stamina_test.go
Owners: @bolg-developers/server

fix stamina logic
  projects/bolg/server/pkg/kakin/stamina.go
  projects/bolg/server/pkg/kakin/stamina_test.go
Owners: @bolg-developers/server

add UseStamina
  projects/bolg/server/pkg/kakin/stamina.go
Owners: @bolg-developers/server

new apiserver
  projects/bolg/server/.gitignore
  projects/bolg/server/cmd/apiserver/apiserver.go
Owners: @bolg-developers/server

delete og3 dir
  projects/bolg/server/cmd/og3/main.go
Owners: @bolg-developers/server

delete drawios
  projects/bolg/server/drawios/design.drawio
Owners: @bolg-developers/server

config logger
  projects/bolg/server/cmd/apiserver/apiserver.go
Owners: @bolg-developers/server

Dialog消去のタイミング改良
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinFragment.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModel.kt
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_join_room.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_join_room_dark.png
Owners: @bolg-developers/android

画像のタブレットリサイズ
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
Owners: @bolg-developers/android

tablet用画面に修正
  projects/bolg/android/Bolg/.idea/codeStyles/Project.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_bluetooth.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_bluetooth_dark.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_bullet_nomal.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_button_off_dark.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_change_ammunition.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_create_room.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_create_room_dark.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_hitpoint_blue.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_inventory_on_dark.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_inventory_on_right.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_item.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_join_room.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_join_room_dark.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_log.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_start_on_dark.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_start_on_right.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_timer.png
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_game_play.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_host_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_player_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/list_item.xml
Owners: @bolg-developers/android

Add RecoverHP API
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/BolgProto.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RecoverHPRequest.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RecoverHPRequestOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RecoverHPResponse.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RecoverHPResponseOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RoomMessage.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RoomMessageOrBuilder.java
  projects/bolg/server/cmd/apiserver/apiserver.go
  projects/bolg/server/pb/bolg.pb.go
  projects/bolg/server/pb/bolg.proto
  projects/bolg/server/pkg/game/room.go
Owners: @bolg-developers/android, @bolg-developers/server

音源データの追加
  projects/bolg/android/Bolg/app/src/main/res/raw/hidan.wav
  projects/bolg/android/Bolg/app/src/main/res/raw/zyusei.wav
Owners: @bolg-developers/android

音源再生クラスの追加
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/BoLG_Audio.kt
Owners: @bolg-developers/android

observe時に音を鳴らす処理追加
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
Owners: @bolg-developers/android

GrpcTaskのindent修正
  projects/bolg/android/Bolg/.idea/codeStyles/Project.xml
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
Owners: @bolg-developers/android

imageViewをimageButtonni
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_game_play.xml
Owners: @bolg-developers/android

回復メソッド追加
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayViewModel.kt
Owners: @bolg-developers/android

ボタン押下時にHP回復機能・HP更新追加
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
Owners: @bolg-developers/android

HP回復Req/Resp通信部分追加
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
Owners: @bolg-developers/android

攻撃力の変更
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
Owners: @bolg-developers/android

攻撃力の変更
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
Owners: @bolg-developers/android

Dialog処理ファイル変更
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinFragment.kt
Owners: @bolg-developers/android

ボタン表示統一
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModel.kt
Owners: @bolg-developers/android

HP回復する条件判断変更
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
Owners: @bolg-developers/android

ペアリング時の挙動変更
  projects/bolg/android/Bolg/.idea/misc.xml
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/bluetooth/BluetoothFunction.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_bluetooth_enable_dark.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_bluetooth_enable_light.png
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_host_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_player_standby.xml
Owners: @bolg-developers/android

プレイ画面で接続の可否の確認が出来るように追加
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_game_play.xml
Owners: @bolg-developers/android

fix confrict
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_host_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_player_standby.xml
Owners: @bolg-developers/android

test
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_bluetooth_enable_dark.png
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_host_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_player_standby.xml
Owners: @bolg-developers/android

Readyボタンの修正
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_ready_on_dark.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_ready_on_right.png
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_player_standby.xml
Owners: @bolg-developers/android

ペアリング接続画像リサイズ
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_bluetooth_enable_light.png
Owners: @bolg-developers/android

HP回復トースト修正
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
Owners: @bolg-developers/android

StartボタンからReadyボタンへの修正
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
Owners: @bolg-developers/android

Dialogの後処理追加
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModel.kt
Owners: @bolg-developers/android

minSdkVersionを21に変更
  projects/bolg/android/Bolg/app/build.gradle
Owners: @bolg-developers/android

HEWに向けて名前変更
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
Owners: @bolg-developers/android

銃声再生の修正
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/bluetooth/BluetoothFunction.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_background_img.png
Owners: @bolg-developers/android

Join時の待機画面の微修正
  projects/bolg/android/Bolg/app/src/main/res/drawable/bolg_background_img.png
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_game_play.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_player_standby.xml
Owners: @bolg-developers/android

.github/CODEOWNERS:

# bolg
/projects/bolg/ @bolg-developers/bolgman
/projects/bolg/server/ @bolg-developers/server
/projects/bolg/android/ @bolg-developers/android
/projects/bolg/micon/ @bolg-developers/micon
/projects/bolg/hack/ @bolg-developers/server
