Repository bolg-developers/x, pull requests merged in 2019-12, with the labels that each got.

#79 update max room count for android
  projects/bolg/server/.gitignore
  projects/bolg/server/cmd/apiserver/apiserver.go
  projects/bolg/server/pkg/bolg/database_memory.go
  projects/bolg/server/pkg/bolg/types.go
Labels: kind/api-change⚠️, kind/feature, x/bolg, x/bolg/team/server

#80 Add join room
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModel.kt
Labels: kind/feature, x/bolg, x/bolg/team/android

#84 Delete CircuitDiagram.md
  projects/bolg/micon/CircuitDiagram.md
Labels: kind/cleanup, x/bolg, x/bolg/team/micon

#81 Android create bluetooth
  projects/bolg/android/Bolg/.idea/codeStyles/Project.xml
  projects/bolg/android/Bolg/.idea/misc.xml
  projects/bolg/android/Bolg/app/src/main/AndroidManifest.xml
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/MyApplication.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/bluetooth/BluetoothFunction.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_player_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/values/strings.xml
  projects/bolg/android/Bolg/build.gradle
Labels: kind/feature, x/bolg, x/bolg/team/android

#83 micon-code-uoload
  projects/bolg/micon/.gitignore
  projects/bolg/micon/.vscode/extensions.json
  projects/bolg/micon/.vscode/settings.json
  projects/bolg/micon/include/BolgConfig.h
  projects/bolg/micon/include/IAttacker.h
  projects/bolg/micon/include/ICommandReceiver.h
  projects/bolg/micon/include/ICommandSender.h
  projects/bolg/micon/include/IDefenser.h
  projects/bolg/micon/include/IGun.h
  projects/bolg/micon/include/IPlayer.h
  projects/bolg/micon/include/IShotManager.h
  projects/bolg/micon/include/README
  projects/bolg/micon/include/TaskBase.h
  projects/bolg/micon/lib/README
  projects/bolg/micon/platformio.ini
  projects/bolg/micon/src/Damage.h
  projects/bolg/micon/src/GameManager.h
  projects/bolg/micon/src/Gun.h
  projects/bolg/micon/src/Player.h
  projects/bolg/micon/src/ShotManager.h
  projects/bolg/micon/src/TaskBase.cpp
  projects/bolg/micon/src/Tasks/CommandReceiveTask.h
  projects/bolg/micon/src/Tasks/CommandSendTask.h
  projects/bolg/micon/src/Tasks/IRreceiveTask.h
  projects/bolg/micon/src/Tasks/IRsendTask.h
  projects/bolg/micon/src/Tasks/TriggerTask.h
  projects/bolg/micon/src/main.cpp
  projects/bolg/micon/test/README
Labels: kind/feature, x/bolg, x/bolg/team/micon

#85 Nagisa takeuchi patch 1
  projects/bolg/docs/micon/.gitkeep
  projects/bolg/docs/micon/BarrelTest.md
  projects/bolg/docs/micon/img/bolg_Release-v1.png
  projects/bolg/docs/micon/micon-design-doc.md
Labels: kind/cleanup, x/bolg, x/bolg/team/micon

#86 refactor database and add test
  projects/bolg/server/go.sum
  projects/bolg/server/pkg/database/memory/.gitkeep
  projects/bolg/server/pkg/database/room.go
  projects/bolg/server/pkg/game/game.go
  projects/bolg/server/pkg/game/survival/.gitkeep
  projects/bolg/server/pkg/room/database/database.go
  projects/bolg/server/pkg/room/database/memory/player.go
  projects/bolg/server/pkg/room/database/memory/player_test.go
  projects/bolg/server/pkg/room/database/memory/room.go
  projects/bolg/server/pkg/room/database/memory/room_test.go
  projects/bolg/server/pkg/room/types.go
Labels: kind/feature, x/bolg, x/bolg/team/server

#87 Game start logic
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/MyApplication.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/adapter/StandbyRecyclerAdapter.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/adapter/holder/StandbyRecyclerViewHolder.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/bluetooth/BluetoothFunction.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/data/ListData.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayViewModelFactory.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainViewModelFactory.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinFragment.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModelFactory.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_host_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_player_standby.xml
Labels: kind/feature, x/bolg, x/bolg/team/android

#88 被弾通知受信処理
  projects/bolg/android/Bolg/.idea/codeStyles/Project.xml
  projects/bolg/android/Bolg/.idea/misc.xml
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/bluetooth/BluetoothFunction.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_game_play.xml
Labels: kind/feature, x/bolg, x/bolg/team/android
