Repository bolg-developers/x, pull requests merged in 2019-11, with the labels that each got.

#8 add not-use-firestore.md
  projects/bolg/docs/server/not-use-firestore.md
Labels: kind/documentation, x/bolg, x/bolg/team/server

#17 add game design doc
  projects/bolg/docs/api/game-design-doc.md
Labels: kind/documentation, x/bolg

#20 update game design doc
  projects/bolg/docs/api/game-design-doc.md
Labels: kind/documentation, x/bolg

#29 cleanup docs and add server docs
  projects/bolg/docs/api/design-doc.md
  projects/bolg/docs/game-design-doc.md
  projects/bolg/docs/releases/release-v1.md
  projects/bolg/docs/server/apis-and-resources.md
  projects/bolg/docs/server/room-messaging.md
  projects/bolg/docs/server/ルームを作成して入室するAPI.md
  projects/bolg/pb/.gitignore
Labels: kind/api-change, kind/cleanup, kind/design, x/bolg, x/bolg/team/server

#22 UI.Image作成
  projects/bolg/docs/android/UI.Image/Inventory_screen.jpg
  projects/bolg/docs/android/UI.Image/Main_screen.jpg
  projects/bolg/docs/android/UI.Image/Participation_screen.jpg
  projects/bolg/docs/android/UI.Image/Play_screen.jpg
  projects/bolg/docs/android/UI.Image/Standby_screen(host).jpg
  projects/bolg/docs/android/UI.Image/Standby_screen(user).jpg
  projects/bolg/docs/android/UI.Image/Tab_bar.jpg
Labels: kind/design, priority/high, x/bolg, x/bolg/team/android

#23 銃身長試験仕様書
  projects/bolg/docs/micon/BarrelTest.md
Labels: x/bolg/team/micon

#30 add remove-merged-branches-script
  projects/bolg/hack/remove-merged-branches.sh
Labels: kind/operation, x/bolg

#31 update server docs
  projects/bolg/docs/server/room-messaging.md
  projects/bolg/docs/server/ルームを作成して入室するAPI.md
Labels: kind/design, x/bolg, x/bolg/team/server

#24 Android maicon bluetooth doc
  projects/bolg/docs/android/android-maicon-bluetooth-doc.md
Labels: kind/documentation, x/bolg, x/bolg/team/android, x/bolg/team/micon

#33 Androidディレクトリの追加
  projects/bolg/android/Bolg/.gitignore
  projects/bolg/android/Bolg/.idea/codeStyles/Project.xml
  projects/bolg/android/Bolg/.idea/codeStyles/codeStyleConfig.xml
  projects/bolg/android/Bolg/.idea/gradle.xml
  projects/bolg/android/Bolg/.idea/misc.xml
  projects/bolg/android/Bolg/.idea/runConfigurations.xml
  projects/bolg/android/Bolg/.idea/vcs.xml
  projects/bolg/android/Bolg/app/.gitignore
  projects/bolg/android/Bolg/app/build.gradle
  projects/bolg/android/Bolg/app/proguard-rules.pro
  projects/bolg/android/Bolg/app/src/androidTest/java/com/example/bolg/ExampleInstrumentedTest.kt
  projects/bolg/android/Bolg/app/src/main/AndroidManifest.xml
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/MainActivity.kt
  projects/bolg/android/Bolg/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/ic_launcher_background.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_main.xml
  projects/bolg/android/Bolg/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  projects/bolg/android/Bolg/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  projects/bolg/android/Bolg/app/src/main/res/mipmap-hdpi/ic_launcher.png
  projects/bolg/android/Bolg/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  projects/bolg/android/Bolg/app/src/main/res/mipmap-mdpi/ic_launcher.png
  projects/bolg/android/Bolg/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  projects/bolg/android/Bolg/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  projects/bolg/android/Bolg/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  projects/bolg/android/Bolg/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  projects/bolg/android/Bolg/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  projects/bolg/android/Bolg/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  projects/bolg/android/Bolg/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  projects/bolg/android/Bolg/app/src/main/res/values/colors.xml
  projects/bolg/android/Bolg/app/src/main/res/values/strings.xml
  projects/bolg/android/Bolg/app/src/main/res/values/styles.xml
  projects/bolg/android/Bolg/app/src/test/java/com/example/bolg/ExampleUnitTest.kt
  projects/bolg/android/Bolg/build.gradle
  projects/bolg/android/Bolg/gradle.properties
  projects/bolg/android/Bolg/gradle/wrapper/gradle-wrapper.jar
  projects/bolg/android/Bolg/gradle/wrapper/gradle-wrapper.properties
  projects/bolg/android/Bolg/gradlew
  projects/bolg/android/Bolg/gradlew.bat
  projects/bolg/android/Bolg/settings.gradle
Labels: x/bolg, x/bolg/team/android

#35 add genproto script
  projects/bolg/Makefile
  projects/bolg/hack/genproto.sh
Labels: kind/operation, x/bolg

#38 UI.Imageにペアリングボタン追加
  projects/bolg/docs/android/UI.Image/Standby_screen(host).jpg
  projects/bolg/docs/android/UI.Image/Standby_screen(user).jpg
Labels: kind/design, x/bolg, x/bolg/team/android

#46 add CreateAndJoinRoom rpc(alpha)
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/BolgProto.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/BolgServiceGrpc.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/CreateAndJoinRoomRequest.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/CreateAndJoinRoomRequestOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/CreateAndJoinRoomResponse.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/CreateAndJoinRoomResponseOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/GameRule.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/Item.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/Player.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/PlayerOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/Room.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RoomMessage.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RoomMessageOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RoomOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RoomServiceGrpc.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/Stamina.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/StaminaOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/User.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/UserOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/UserServiceGrpc.java
  projects/bolg/docs/server/ルームを作成して入室するAPI.md
  projects/bolg/server/.gitkeep
  projects/bolg/server/cmd/apiserver/apiserver.go
  projects/bolg/server/go.mod
  projects/bolg/server/go.sum
  projects/bolg/server/pb/bolg.pb.go
  projects/bolg/server/pb/bolg.proto
  projects/bolg/server/pkg/bolg/database.go
  projects/bolg/server/pkg/bolg/database_memory.go
  projects/bolg/server/pkg/bolg/id_pool_manager.go
  projects/bolg/server/pkg/bolg/number_manager.go
  projects/bolg/server/pkg/bolg/service.go
  projects/bolg/server/pkg/bolg/streams_manager.go
  projects/bolg/server/pkg/bolg/type.go
  projects/design-doc.md
Labels: kind/api-change, kind/feature, x/bolg, x/bolg/team/server

#40 add communication doc
  projects/bolg/docs/communication.md
Labels: kind/documentation, priority/high, x/bolg, x/bolg/team/android, x/bolg/team/micon, x/bolg/team/server

#39 簡易シーケンスの追加
  projects/bolg/docs/android/SimpleSequence-Micon.png
  projects/bolg/docs/android/SimpleSequence-Server.png
Labels: kind/design, x/bolg, x/bolg/team/android, x/bolg/team/micon, x/bolg/team/server

#27 Micon circuit diagram
  projects/bolg/micon/CircuitDiagram.md
Labels: kind/design, x/bolg, x/bolg/team/micon

#49 add joinroom rpc
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/BolgProto.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/BolgServiceGrpc.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/JoinRoomMessage.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/JoinRoomMessageOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/JoinRoomRequest.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/JoinRoomRequestOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/JoinRoomResponse.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/JoinRoomResponseOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RoomMessage.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RoomMessageOrBuilder.java
  projects/bolg/server/Makefile
  projects/bolg/server/pb/bolg.pb.go
  projects/bolg/server/pb/bolg.proto
  projects/bolg/server/pkg/bolg/service.go
  projects/bolg/server/pkg/bolg/streams_manager.go
Labels: kind/api-change, kind/feature, x/bolg, x/bolg/team/server

#52 add survival game logic and game result messaging
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/BolgProto.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/NotifyReceivingMessage.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RoomMessage.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RoomMessageOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/SurvivalPersonalResult.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/SurvivalPersonalResultOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/SurvivalResultMessage.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/SurvivalResultMessageOrBuilder.java
  projects/bolg/docs/server/judgement.md
  projects/bolg/server/pb/bolg.pb.go
  projects/bolg/server/pb/bolg.proto
  projects/bolg/server/pkg/bolg/database.go
  projects/bolg/server/pkg/bolg/database_memory.go
  projects/bolg/server/pkg/bolg/game.go
  projects/bolg/server/pkg/bolg/game_survival.go
  projects/bolg/server/pkg/bolg/service.go
  projects/bolg/server/pkg/bolg/types.go
Labels: kind/api-change, kind/feature, x/bolg, x/bolg/team/server

#53 Add start game rpc
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/BolgProto.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RoomMessage.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RoomMessageOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/StartGameMessage.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/StartGameMessageOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/StartGameRequest.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/StartGameRequestOrBuilder.java
  projects/bolg/server/pb/bolg.pb.go
  projects/bolg/server/pb/bolg.proto
  projects/bolg/server/pkg/bolg/database.go
  projects/bolg/server/pkg/bolg/database_memory.go
  projects/bolg/server/pkg/bolg/service.go
  projects/bolg/server/pkg/bolg/types.go
Labels: kind/api-change, kind/feature, x/bolg, x/bolg/team/server

#54 add update weapon api
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/BolgProto.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RoomMessage.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RoomMessageOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/UpdateWeaponRequest.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/UpdateWeaponRequestOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/UpdateWeaponResponse.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/UpdateWeaponResponseOrBuilder.java
  projects/bolg/server/pb/bolg.pb.go
  projects/bolg/server/pb/bolg.proto
  projects/bolg/server/pkg/bolg/service.go
Labels: kind/api-change, kind/feature, x/bolg, x/bolg/team/server

#55 add ready api
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/BolgProto.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/ReadyMessage.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/ReadyMessageOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/ReadyRequest.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/ReadyRequestOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/ReadyResponse.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/ReadyResponseOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RoomMessage.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RoomMessageOrBuilder.java
  projects/bolg/server/pb/bolg.pb.go
  projects/bolg/server/pb/bolg.proto
  projects/bolg/server/pkg/bolg/service.go
  projects/bolg/server/pkg/bolg/types.go
Labels: kind/api-change, kind/feature, x/bolg, x/bolg/team/server

#48 build.gradle(app)にplugin:"com.google.protobuf"追加
  projects/bolg/android/Bolg/app/build.gradle
  projects/bolg/android/Bolg/build.gradle
Labels: kind/bug, x/bolg, x/bolg/team/android

#57 add room message error
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/BolgProto.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/Error.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/ErrorOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RoomMessage.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RoomMessageOrBuilder.java
  projects/bolg/server/pb/bolg.pb.go
  projects/bolg/server/pb/bolg.proto
  projects/bolg/server/pkg/bolg/service.go
  projects/bolg/server/pkg/bolg/streams_manager.go
Labels: kind/api-change, kind/feature, x/bolg, x/bolg/team/server

#59 fix genproto
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/Item.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/ReadyResponse.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/ReadyResponseOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RoomServiceGrpc.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/Stamina.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/StaminaOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/User.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/UserOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/UserServiceGrpc.java
  projects/bolg/hack/genproto.sh
Labels: kind/bug, priority/high, x/bolg, x/bolg/team/server

#60 add check health api
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/BolgProto.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/BolgServiceGrpc.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/CheckHealthRequest.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/CheckHealthRequestOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/CheckHealthResponse.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/CheckHealthResponseOrBuilder.java
  projects/bolg/server/pb/bolg.pb.go
  projects/bolg/server/pb/bolg.proto
  projects/bolg/server/pkg/bolg/service.go
Labels: kind/api-change, kind/feature, x/bolg, x/bolg/team/server

#61 add scripts for runningg server
  projects/bolg/server/.gitignore
  projects/bolg/server/Makefile
  projects/bolg/server/hack/install-tools.sh
Labels: kind/operation, x/bolg, x/bolg/team/server

#62 add game start validation
  projects/bolg/server/pkg/bolg/service.go
Labels: kind/cleanup, x/bolg, x/bolg/team/server

#64 Simple app
  projects/bolg/android/Bolg/app/build.gradle
  projects/bolg/android/Bolg/app/src/main/AndroidManifest.xml
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/MainActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/adapter/StandbyRecyclerAdapter.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/adapter/holder/StandbyRecyclerViewHolder.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/data/ListData.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainViewModelFactory.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinFragment.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModelFactory.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/title/TitleFtagment.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModelFactory.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/player/PlayerStandbyViewModelFactory.kt
  projects/bolg/android/Bolg/app/src/main/res/drawable-v24/logo.png
  projects/bolg/android/Bolg/app/src/main/res/drawable/frame_black.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/ic_add_black_24dp.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/ic_create_black_24dp.xml
  projects/bolg/android/Bolg/app/src/main/res/drawable/ic_settings_bluetooth_black_24dp.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_game_play.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_host_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_join.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_main.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_player_standby.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/fragment_main.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/fragment_title.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/list_item.xml
  projects/bolg/android/Bolg/app/src/main/res/values/strings.xml
  projects/bolg/android/Bolg/build.gradle
Labels: kind/feature, x/bolg, x/bolg/team/android

#73 add micon-design-doc
  projects/bolg/docs/micon/img/bolg_Release-v1.png
  projects/bolg/docs/micon/micon-design-doc.md
Labels: kind/design, x/bolg, x/bolg/team/micon

#74 add CircleCI
  .circleci/config.yml
  projects/bolg/server/Makefile
  projects/bolg/server/go.mod
  projects/bolg/server/go.sum
  projects/bolg/server/pkg/database/memory/.gitkeep
  projects/bolg/server/pkg/database/room.go
  projects/bolg/server/pkg/room/game/game.go
  projects/bolg/server/pkg/room/game/survival/.gitkeep
  projects/bolg/server/pkg/room/id_manager.go
  projects/bolg/server/pkg/room/id_manager_test.go
  projects/bolg/server/pkg/room/player_id_manager.go
  projects/bolg/server/pkg/room/player_id_manager_test.go
  projects/bolg/server/pkg/room/stream_manager.go
  projects/design-doc.md
Labels: kind/cleanup, kind/operation, x/bolg, x/bolg/team/server

#75 fix codes for circleci
  .circleci/config.yml
  projects/bolg/server/Makefile
Labels: kind/operation, x/bolg

#77 add huffman because use the article of design doc example
  projects/chat/pb/chat.proto
  projects/hello/server/Makefile
  projects/hello/server/cmd/main.go
  projects/hello/server/go.mod
  projects/hello/server/proto/hello.proto
  projects/huffman/cmd/main.go
  projects/huffman/go.mod
  projects/huffman/go.sum
  projects/huffman/huffman.go
Labels: kind/feature

#76 Android create and join
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayViewModelFactory.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/MainActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinFragment.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyActivity.kt
Labels: x/bolg, x/bolg/team/android

#78 update github management
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-proposal.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: kind/github-setting, x/bolg
