Repository bolg-developers/x, pull requests merged in 2020-01, with the labels that each got.

#89 Android update hit notification
  projects/bolg/android/Bolg/app/src/androidTest/java/com/example/bolg/ExampleInstrumentedTest.kt
  projects/bolg/android/Bolg/app/src/main/AndroidManifest.xml
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/GrpcTask.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/MyApplication.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayActivity.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/gameplay/GamePlayViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/main/createandJoin/CreateJoinViewModel.kt
  projects/bolg/android/Bolg/app/src/main/java/com/example/bolg/standby/host/HostStandbyViewModel.kt
  projects/bolg/android/Bolg/app/src/main/res/layout/activity_game_play.xml
  projects/bolg/android/Bolg/app/src/main/res/layout/fragment_main.xml
  projects/bolg/android/Bolg/app/src/main/res/values/colors.xml
  projects/bolg/android/Bolg/app/src/main/res/values/styles.xml
Labels: kind/feature, x/bolg, x/bolg/team/android

#90 add stamina proto
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/BolgProto.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/BolgServiceGrpc.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/GetStaminaRequest.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/GetStaminaRequestOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RecoverStaminaRequest.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RecoverStaminaRequestOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RecoverStaminaResponse.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/RecoverStaminaResponseOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/Stamina.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/StaminaOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/UseStaminaRequest.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/UseStaminaRequestOrBuilder.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/UseStaminaResponse.java
  projects/bolg/android/Bolg/app/src/main/java/org/bolg_developers/bolg/UseStaminaResponseOrBuilder.java
  projects/bolg/server/drawios/design.drawio
  projects/bolg/server/pb/bolg.pb.go
  projects/bolg/server/pb/bolg.proto
  projects/bolg/server/pkg/bolg/service.go
Labels: kind/api-change⚠️, x/bolg, x/bolg/team/android, x/bolg/team/server

#92 micon code-update
  projects/bolg/micon/include/BolgConfig.h
  projects/bolg/micon/include/BolgLogger.h
  projects/bolg/micon/include/IAttacker.h
  projects/bolg/micon/include/ICommandReceiver.h
  projects/bolg/micon/include/ICommandSender.h
  projects/bolg/micon/include/IDefenser.h
  projects/bolg/micon/include/IGun.h
  projects/bolg/micon/include/IPlayer.h
  projects/bolg/micon/include/IShotManager.h
  projects/bolg/micon/include/IVibrator.h
  projects/bolg/micon/include/README
  projects/bolg/micon/include/TaskBase.h
  projects/bolg/micon/src/Damage.h
  projects/bolg/micon/src/GameManager.h
  projects/bolg/micon/src/Gun.h
  projects/bolg/micon/src/Player.h
  projects/bolg/micon/src/ShotManager.h
  projects/bolg/micon/src/TaskBase.cpp
  projects/bolg/micon/src/Tasks/CommandReceiveTask.h
  projects/bolg/micon/src/Tasks/CommandSendTask.h
  projects/bolg/micon/src/Tasks/IRreceiveTask.h
  projects/bolg/micon/src/Tasks/IRsendTask.h
  projects/bolg/micon/src/Tasks/TriggerTask.h
  projects/bolg/micon/src/Tasks/VibratorTask.h
  projects/bolg/micon/src/Vibrator.cpp
Labels: kind/cleanup, x/bolg, x/bolg/team/micon
